menu "Example Configuration"

    config EXAMPLE_LCD_I80_COLOR_IN_PSRAM
        bool "Allocate color data from PSRAM"
        depends on IDF_TARGET_ESP32S3
        default y
        help
            Enable this option if you wish to allocate the color buffer used by LVGL from PSRAM.
            Unmatched PSRAM band width with LCD requirement can lead to blurred image display.

    choice EXAMPLE_LCD_I80_CONTROLLER_MODEL
        prompt "i80 LCD controller model"
        default EXAMPLE_LCD_I80_CONTROLLER_ST7789
        help
            Select LCD controller model

        config EXAMPLE_LCD_I80_CONTROLLER_ST7789
            bool "ST7789"

        config EXAMPLE_LCD_I80_CONTROLLER_NT35510
            bool "NT35510"

        config EXAMPLE_LCD_I80_CONTROLLER_ILI9341
            bool "ILI9341"
    endchoice

    if EXAMPLE_LCD_I80_CONTROLLER_NT35510
        choice EXAMPLE_LCD_NT35510_DATA_WIDTH
            prompt "NT35510 Data Width"
            default EXAMPLE_LCD_NT35510_DATA_WIDTH_8
            help
                Select NT35510 Data Width (8 or 16), a.k.a, the number of data lines.

            config EXAMPLE_LCD_NT35510_DATA_WIDTH_8
                bool "8"

            config EXAMPLE_LCD_NT35510_DATA_WIDTH_16
                bool "16"
        endchoice

    endif

    config EXAMPLE_LCD_I80_BUS_WIDTH
        int
        default 16 if EXAMPLE_LCD_NT35510_DATA_WIDTH_16
        default 8

    config EXAMPLE_LCD_TOUCH_ENABLED
        bool "Enable LCD touch"
        default n
        help
            Enable this option if you wish to use display touch. You can select from three touch controllers.

    choice EXAMPLE_LCD_TOUCH_CONTROLLER
        prompt "LCD touch controller model"
        depends on EXAMPLE_LCD_TOUCH_ENABLED
        default EXAMPLE_LCD_TOUCH_CONTROLLER_FT5X06
        help
            Select LCD touch controller model

        config EXAMPLE_LCD_TOUCH_CONTROLLER_GT911
            bool "GT911"

        config EXAMPLE_LCD_TOUCH_CONTROLLER_TT21100
            bool "TT21100"

        config EXAMPLE_LCD_TOUCH_CONTROLLER_FT5X06
            bool "FT5X06"
    endchoice
    
 config EXAMPLE_FIRMWARE_UPGRADE_URL
        string "Firmware Upgrade URL"
        default "https://192.168.2.106:8070/hello_world.bin"
        help
            URL of server which hosts the firmware image.

    config EXAMPLE_FIRMWARE_UPGRADE_URL_FROM_STDIN
        bool
        default y if EXAMPLE_FIRMWARE_UPGRADE_URL = "FROM_STDIN"

    config EXAMPLE_SKIP_COMMON_NAME_CHECK
        bool "Skip server certificate CN fieldcheck"
        default n
        help
            This allows you to skip the validation of OTA server certificate CN field.

    config EXAMPLE_SKIP_VERSION_CHECK
        bool "Skip firmware version check"
        default n
        help
            This allows you to skip the firmware version check.

    config EXAMPLE_OTA_RECV_TIMEOUT
        int "OTA Receive Timeout"
        default 5000
        help
            Maximum time for reception

    config EXAMPLE_ENABLE_PARTIAL_HTTP_DOWNLOAD
        bool "Enable partial HTTP download"
        default n
        help
            This enables use of Range header in esp_https_ota component.
            Firmware image will be downloaded over multiple HTTP requests.

    config EXAMPLE_HTTP_REQUEST_SIZE
        int "HTTP request size"
        default MBEDTLS_SSL_IN_CONTENT_LEN
        depends on EXAMPLE_ENABLE_PARTIAL_HTTP_DOWNLOAD
        help
            This options specifies HTTP request size. Number of bytes specified
            in this option will be downloaded in single HTTP request.    

endmenu
